option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.py

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"

files:
  "/opt/python/etc/wsgi.conf":
    content: |
      server {
        listen 80;
        server_name _;
        location / {
          include uwsgi_params;
          uwsgi_pass unix:/tmp/uwsgi.sock;
        }
      }
